*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  background-color: black;
  height: calc(100vh - 80px);
  padding: 50px 90px 30px;
}

.container{
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.image{
  position: relative;
  padding-right: 5px;
  width: calc(20% - 10px);
}

.image img{
  width: 100%;
  display: block;
}

.microphone{
  position:absolute;
  bottom: 10px;
  left: 0;
  font-size: .9vw;
  color: white;
  background: rgba(127, 127, 127, 0.6);
  padding: 3px 2px;
}